In [1]:
tup1 = ('sistem komputer', 'teknik informatika', 2008, 2017)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
print(tup1)
print(tup2)
print(tup3)

('sistem komputer', 'teknik informatika', 2008, 2017)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')

In [2]:
tup1 = ('sistem komputer', 'teknik informatika', 2008, 2017)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  sistem komputer
tup2[1:5]:  (2, 3, 4, 5)

In [3]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
# Aksi seperti dibawah ini tidak bisa dilakukan pada tuple python
# Karena memang nilai pada tuple python tidak bisa diubah
# tup1[0] = 100;
# Jadi, buatlah tuple baru sebagai berikut
tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [8]:
#program 1
#Membuat tupel dengan tipe data yang berbeda
print("program 1")
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

#program 2
print("program 2")
#Membuat tupel dengan angka
tuplex = 5, 10, 15, 20, 25
print(tuplex)
#Create a tuple of one item
tuplex = 5,
print(tuplex)
print("program 3")

#program 3
#membuat tupel
tuplex = (4, 6, 2, 8, 3, 1)
print(tuplex)
#tupel tidak dapat diubah, sehingga Anda tidak dapat menambahkan elemen baru
#Menggunakan penggabungan tupel dengan operator + Anda dapat menambahkan elemen dan itu
#akan membuat tupel baru
tuplex = tuplex + (9,)
print(tuplex)
#Menambahkan item dalam indeks tertentu
tuplex = tuplex[:5] + (15, 20, 25) + tuplex[:5]
print(tuplex)
#mengonversi tupel ke list
listx = list(tuplex)
#Menggunakan berbagai cara untuk menambahkan item dalam list
listx.append(30)
tuplex = tuple(listx)
print(tuplex)

program 1
('tuple', False, 3.2, 1)
program 2
(5, 10, 15, 20, 25)
(5,)
program 3
(4, 6, 2, 8, 3, 1)
(4, 6, 2, 8, 3, 1, 9)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3)
(4, 6, 2, 8, 3, 15, 20, 25, 4, 6, 2, 8, 3, 30)

In [9]:
#Contoh cara menghapus pada Dictionary Python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name'] # hapus entri dengan key 'Name'
dict.clear() # hapus semua entri di dict
del dict # hapus dictionary yang sudah ada
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

TypeError: 'type' object is not subscriptable

In [10]:
#contoh penggunaan dictionary
print("\ncontoh 1")
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)


print("\ncontoh 2")
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
cek_angka = 3
if cek_angka in d:
    print(cek_angka,' tersedia dalam dictionary')
else:
    print(cek_angka,'tidak tersedia dalam dictionary')


print("\ncontoh 3")
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

contoh 1
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

contoh 2
3  tersedia dalam dictionary

contoh 3
{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [12]:
inpt = int(input("Masukan ANgka yang Diinginkan : "))

banyak_data = {}
for i in range(inpt):
    x = int(input("Masukan Data Key : "))
    y = input("Masukan Data :")
    banyak_data[x] = y

print(banyak_data)

{1: 'skjdcn', 2: 'snkd cks'}

In [13]:
dict = {'Key': 'Mah001', 'Nim': 19022001, 'Name': 'Toro Kirik', 'Sks' : '144', 'Beasiswa': '0', 'Lahir': '04/10/01'}
print ("dict['Key']: ", dict['Key'])
print ("dict['Nim']: ", dict['Nim'])
print ("Dict['Name']: ", dict ['Name'])
print ("Dict['Sks']: ", dict ['Sks'])
print ("Dict['Beasiswa']: ", dict ['Beasiswa'])
print ("Dict['Lahir']: ", dict ['Lahir'])

dict['Key']:  Mah001
dict['Nim']:  19022001
Dict['Name']:  Toro Kirik
Dict['Sks']:  144
Dict['Beasiswa']:  0
Dict['Lahir']:  04/10/01